.main-visual {
	width: 100%;
	height: 500px;
	position: relative;
	background-image: url(../images/suika-sub.jpg);
  background-size: cover;
  color: white;
	text-align: center;
	margin-bottom: 110px;
}
.main-intoro {
	margin-bottom: 60px;
}
.main-intoro-title{
	font-size: 25px;
	margin-bottom: 40px
}
.main-skill {
	margin: 150px 200px;
}
.main-skill-title{
	font-size: 25px;
	margin-bottom: 40px;
}
.main-skill-section {
  margin: 0 auto;
	display: flex;
	word-wrap: break-word;
	margin-bottom: 40px;
}
.main-skill-section .section-text {
	width: 30%;
}
.main-skill-section .section-nummber {
	width: 20%;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	color: #f3667dd0;
}
.main-skill-next-section {
	margin: 0 auto;
	flex-wrap: wrap;
	display: flex;
	word-wrap: break-word;
}
.main-skill-next-section .section-text {
	width: 30%;
}
.main-skill-next-section .section-nummber {
	width: 20%;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	color:#f3667dd0;
}
.back-visual {
	width: 100%;
	height: 500px;
	position: relative;
	background-image: url(../images/suika-main.jpg);
	background-size: cover;
	background-position: center bottom;
  color: white;
  text-align: center;
}
.text-box {
	padding-top: 200px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
/* タブレット ----------- */
@media screen and (max-width: 1023px) {
	.main-skill-section {
		display: block;
	}
	.main-skill-section .section-nummber {
		width: 100%;
	}
	.main-skill-section .section-text {
		width: 100%;
	}
	.main-skill-next-section .section-text {
		width: 100%;
	}
	.main-skill-next-section .section-text {
		width: 100%;
	}
	.main-skill-next-section .section-nummber {
		width: 100%;
	}

	.main-skill {
		margin-left: 0;
		margin-right: 0;
	}
}
/*footer------------------------------------*/
