/* 共通設定を記載する */
body {
	margin: 0;
	font-family: "Roboto", Arial, serif;
	text-transform: none;
  line-height: 1.8;
  font-weight: 300;
}
header, main {
	font-size: 20px;
}
*{
	font-size: 18px;
	text-align: center;
}
a {
	color: #000;
	text-decoration: none;
}
ul, ol {
	padding: 0;
}
li {

  list-style: none;
}
.dot {
	position: relative;
}
.dot::after{
	position: absolute;
	top: -36px;
	font-size: 40px;
	content: ".";
	color: red;
}
.main-intoro, .section-text p {
	padding-left: 18px;
	padding-right: 18px;
}
/* Header ---------------------------------- */
header {
	text-align: center;
	position: relative;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-top: 70px ;
}
.pine {
	width: 300px;
	position: absolute;
	right: 0;
	top: 20px;
}
.header-logo {
	font-size: 48px;
}
.header-logo span {
	color: #ff4a4a;
	font-size: 48px;
}
.header-list li {
	display: inline-block;
	padding-bottom: 5px;
  position: relative;
	list-style: none;
	font-weight: 400;
  margin-left: 40px;
	margin-bottom: 100px;
}


/* タブレット --------- */
@media screen and (max-width: 1023px) {
}
/* タブレット --------- */
/* SP --------- */
@media screen and (max-width: 480px) {
	.header-logo {
		font-size: 64px;
	}
	.header-logo span {
		font-size: 64px;
	}
	.header-list ul {
		margin-bottom: 50px;
	}
	.header-list li {
		display: block;
		margin-bottom: 20px;
		margin-left: 0;
	}
}
/* SP --------- */
/* Header ---------------------------------- */
/* Footer ---------------------------------- */
footer {
	position: relative;
	padding-top: 100px;
	padding-bottom: 50px;
}
.footer-logo {
	margin-top: 50px;
	margin-bottom: 30px;
}
.footer-logo h2 {
	font-size: 20px
}
.footer-logo p {
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px
}
.footer-link {
	display: inline-block;
}
.Copyright {
	font-size: 14px;
	margin-top: 10px;
	font-size: 8px;
}
.pine-glass {
	position: relative;
	width: fit-content;
	margin: 0 auto;
}
.pine-glass img {
	position: absolute;
	bottom: 70px;
	right: 0;
  height: 150px;
}
.twitter-logo, .qiita-logo, .github-logo {
	width: 48px;
	height: 48px;
}
/* タブレット --------- */
@media screen and (max-width: 1023px) {
}
/* タブレット --------- */
/* SP --------- */
@media screen and (max-width: 480px) {
	.footer-logo h2 {
		font-size: 36px;
	}
	.footer-link {
		display: block;
	}
	.twitter-logo, .qiita-logo, .github-logo {
		width: 80px;
		height: 80px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
/* SP --------- */
/* Footer ---------------------------------- */
