.main-visual {
	width: 100%;
	height: 500px;
	position: relative;
	background-image: url(../images/main-image.jpg);
  background-size: cover;
  color: white;
	text-align: center;
	margin-bottom: 150px;
}
.main-intoro {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 100px;
}
.services-photo {
	display: flex;
	justify-content: space-around;
}
.services-next-photo {
	display: flex;
	justify-content: space-around;
}
.point-photo {
	margin-bottom: 60px;
	word-wrap: break-all;
	margin-left: 30px;
	margin-right: 30px;
}
.desc {
	margin-top: 30px;
	font-weight: 300px
}