/* 各要素のCSSを記載する */
/* TOPページ   ---------------------------------- */
.main-visual {
	width: 100%;
	height: 500px;
	position: relative;
	background-image: url(../images/main-image.jpg);
	background-size: cover;
	background-position: center bottom;
  color: white;
	text-align: center;
	margin-bottom: 80px;
}
.main-intoro, .main-skill {
	margin-bottom: 100px;
}
.main-intoro-title {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
}
.main-intoro-text {
	width: 90%;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
}
.main-skill-title {
	font-size: 20px;
	text-align: center;
	color: #ea8760;
}
.main-skill-section {
	width: 80%;
	margin: 0 auto;
	display: flex;
	word-wrap: break-word;
}
.main-skill-section .section-text {
	width: 30%;
}
.main-skill-section .section-nummber {
	width: 20%;
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	color:#fbb32ca6;
}
.back-visual {
	width: 100%;
	height: 500px;
	position: relative;
	background-image: url(../images/pine-sub.jpg);
	background-size: cover;
	background-position: center bottom;
  color: white;
  text-align: center;
}
.text-box {
	padding-top: 200px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}
/* タブレット ----------- */
@media screen and (max-width: 1023px) {
	.main-intoro-title {
		font-size: 48px;
	}
	.main-visual {
		height: 400px;
	}
	.main-skill-section {
		padding-left: 32px;
		padding-right: 32px;
		width: calc(100% - 32px -32px);
		display: block;
	}
	.main-skill-section .section-text {
		width: 100%;
	}
	.main-skill-section .section-nummber {
		width: 100%;
		font-size: 80px;
	}
}
/* タブレット ----------- */
/* SP ----------- */
@media screen and (max-width: 480px) {
	.main-visual {
		height: 300px;
	}
}
/* SP ----------- */
/* TOPページ   ---------------------------------- */