.main-visual {
	width: 100%;
	height: 500px;
	position: relative;
	background-image: url(../images/main-image.jpg);
  background-size: cover;
  color: white;
	text-align: center;
	margin-bottom: 110px;
}
.main-intoro {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 100px;
}
.works-photo {
	display: flex;
	justify-content: space-around;
}
.works-next-photo {
	display: flex;
	justify-content: space-around;
}
.main-intoro-title {
	font-size: 30px;
	margin-top: 110px;
	margin-bottom: 60px; 
}
.point-photo {
	margin-bottom: 60px;
}
/* タブレット ----------- */
@media screen and (max-width: 1023px) {
}
/* タブレット ----------- */
/* SP ----------- */
@media screen and (max-width: 480px) {
}
/* SP ----------- */