body {
	font-family: "Roboto", Arial, serif;
	text-transform: none;
  line-height: 1.8;
  font-size: 20px;
  font-weight: 300;
}
a {
	color: #000;
	text-decoration: none;
}
li {
  list-style: none;
}
header {
	text-align: center;
	position: relative;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 1px;
}
.header-logo span {
	color: #ff4a4a;
}
.header-list li {
	display: inline-block;
	padding-bottom: 5px;
  position: relative;
	list-style: none;
	font-weight: 400;
  margin-left: 40px;
	font-size: 18px;
}
.dot {
	position: relative;
}
.dot::after{
	position: absolute;
	top: -36px;
	font-size: 36px;
	content: ".";
	color: red;
}
